---
layout: default
---

<!-- Cabeçalho da Página -->
{% include intro-header.html type='page' %}

<!-- Conteúdo Principal -->
<div class="container">
  <div class="row">
    {% if site.sidebar == false %}
    <!-- SEM BARRA LATERAL -->
    <!-- Container da Lista de Posts -->
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1
      postlist-container">
      {{ content }}
    </div>
    <!-- Container da Barra Lateral -->
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1
      sidebar-container">
      <!-- Tags em Destaque -->
      {% include featured-tags.html %}

      <!-- Blog de Amigos -->
      {% include friends.html %}
    </div>
    {% else %}

    <!-- COM BARRA LATERAL -->
    <!-- Container da Lista de Posts -->
    <div class="col-lg-8 col-lg-offset-1 col-md-8 col-md-offset-1 col-sm-12
      col-xs-12 postlist-container">
      {{ content }}
    </div>
    <!-- Container da Barra Lateral -->
    <div class="col-lg-3 col-lg-offset-0 col-md-3 col-md-offset-0 col-sm-12
      col-xs-12 sidebar-container">
      <!-- Tags em Destaque -->
      {% include featured-tags.html %}

      <!-- Sobre Mim (resumido) -->
      {% include short-about.html %}

      <!-- Blog de Amigos -->
      {% include friends.html %}

      <!-- Anúncios -->
      {% include ads.html %}
    </div>
    {% endif %}
  </div>
</div>

{% if site.page-mathjax %}
<!-- Adiciona suporte para Mathjax por Voleking-->
<!-- Se você quer ver fórmulas na pré-visualização do post, talvez devesse adicionar isto.-->
<!-- No entanto, na maioria das vezes as fórmulas podem não aparecer na pré-visualização do post, você pode excluí-lo.-->
<script type="text/x-mathjax-config">
  MathJax.Hub.Config({
    TeX: {
      equationNumbers: {
        autoNumber: "AMS"
      }
    },
    tex2jax: {
      inlineMath: [ ['
,'
] ],
      displayMath: [ ['
,'
] ],
      processEscapes: true,
    }
  });
</script>
<script type="text/javascript"
  src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
{% endif %}
